# Build a simple CNN model on MNIST dataset
Kernel: tensorflow

In [1]:
import keras

Using TensorFlow backend.

In [6]:
import keras

In [2]:
from keras.models import Sequential

In [7]:
from keras.models import Model
from keras.layers import *
from keras import optimizers

# 1. Data Loading and Pre-processing

In [12]:
import pandas as pd

In [13]:
work_dir = 'E:\\datasets\\MNIST\\'

In [14]:
train = pd.read_csv(work_dir+'train.csv')

In [16]:
train.shape

(42000, 785)

In [15]:
train.head()

,label,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,4,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [24]:
train_features = train.iloc[ :, 1:785]
train_label = train.iloc[ :, 0]

In [25]:
train_features.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [26]:
#normalize pixel vals to be between 0 and 1
train_features = train_features.astype('float32')
train_features /= 255.0

In [27]:
train_features.head()

,pixel0,pixel1,pixel2,pixel3,pixel4,pixel5,pixel6,pixel7,pixel8,pixel9,...,pixel774,pixel775,pixel776,pixel777,pixel778,pixel779,pixel780,pixel781,pixel782,pixel783
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [21]:
num_digits = 10

In [22]:
#convert label vals to OHE col
train_label_OHE = keras.utils.to_categorical(y=train_label, num_classes=num_digits)

# 2. Only Fully Connected Layers

In [20]:
# Input Parameters
n_input = 784 # number of features
n_hidden_1 = 300
n_hidden_2 = 100
n_hidden_3 = 100
n_hidden_4 = 200

In [10]:
Inp = Input(shape=(n_input, ))

In [11]:
x = Dense(n_hidden_1, activation='relu', name = "Hidden_Layer_1")(Inp)
x = Dense(n_hidden_2, activation='relu', name = "Hidden_Layer_2")(x)
x = Dense(n_hidden_3, activation='relu', name = "Hidden_Layer_3")(x)

output = Dense(num_digits, activation='softmax', name = 'Output_Layer')(x)

In [28]:
only_dense_layers_model = Model(Inp, output)

In [30]:
only_dense_layers_model.summary()

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
input_1 (InputLayer)         (None, 784)               0
_________________________________________________________________
Hidden_Layer_1 (Dense)       (None, 300)               235500
_________________________________________________________________
Hidden_Layer_2 (Dense)       (None, 100)               30100
_________________________________________________________________
Hidden_Layer_3 (Dense)       (None, 100)               10100
_________________________________________________________________
Output_Layer (Dense)         (None, 10)                1010
=================================================================
Total params: 276,710
Trainable params: 276,710
Non-trainable params: 0
_________________________________________________________________

In [31]:
# Insert Hyperparameters
learning_rate = 0.1
training_epochs = 20
batch_size = 100
sgd = optimizers.SGD(lr=learning_rate)

In [33]:
only_dense_layers_model.compile(loss='categorical_crossentropy',
              optimizer='sgd',
              metrics=['accuracy'])

In [34]:
history1 = only_dense_layers_model.fit(train_features, train_label_OHE,
                                       batch_size = batch_size,
                                       epochs = training_epochs, 
                                       verbose = 1)

Epoch 1/20
42000/42000 [==============================] - 2s 41us/step - loss: 1.3956 - acc: 0.6377
Epoch 2/20
42000/42000 [==============================] - 2s 36us/step - loss: 0.4747 - acc: 0.8732
Epoch 3/20
42000/42000 [==============================] - 2s 37us/step - loss: 0.3557 - acc: 0.8989
Epoch 4/20
42000/42000 [==============================] - 2s 37us/step - loss: 0.3073 - acc: 0.9113
Epoch 5/20
42000/42000 [==============================] - 2s 37us/step - loss: 0.2765 - acc: 0.9205
Epoch 6/20
42000/42000 [==============================] - 2s 40us/step - loss: 0.2531 - acc: 0.9273
Epoch 7/20
42000/42000 [==============================] - 1s 35us/step - loss: 0.2342 - acc: 0.9325
Epoch 8/20
42000/42000 [==============================] - 2s 37us/step - loss: 0.2186 - acc: 0.9384
Epoch 9/20
42000/42000 [==============================] - 1s 35us/step - loss: 0.2044 - acc: 0.9420
Epoch 10/20
42000/42000 [==============================] - 1s 35us/step - loss: 0.1920 - acc: 0.9462
Epoch 11/20
42000/42000 [==============================] - 1s 36us/step - loss: 0.1814 - acc: 0.9483
Epoch 12/20
42000/42000 [==============================] - 2s 37us/step - loss: 0.1714 - acc: 0.9510
Epoch 13/20
42000/42000 [==============================] - 2s 40us/step - loss: 0.1628 - acc: 0.9538
Epoch 14/20
42000/42000 [==============================] - 2s 41us/step - loss: 0.1546 - acc: 0.9551
Epoch 15/20
42000/42000 [==============================] - 2s 36us/step - loss: 0.1470 - acc: 0.9581
Epoch 16/20
42000/42000 [==============================] - 2s 36us/step - loss: 0.1403 - acc: 0.9601
Epoch 17/20
42000/42000 [==============================] - 2s 37us/step - loss: 0.1335 - acc: 0.9625
Epoch 18/20
42000/42000 [==============================] - 2s 43us/step - loss: 0.1281 - acc: 0.9642
Epoch 19/20
42000/42000 [==============================] - 2s 41us/step - loss: 0.1223 - acc: 0.9655
Epoch 20/20
42000/42000 [==============================] - 2s 38us/step - loss: 0.1171 - acc: 0.9669

# 3. CNN

In [35]:
# for CNN we need the data in a 28*28 array

In [36]:
train_features.shape

(42000, 784)

In [42]:
train_features_array = np.array(train_features)

In [43]:
train_features_array.shape

(42000, 784)

In [59]:
train_features_array = train_features_array.reshape(42000,28,28, 1)

In [60]:
train_features_array.shape

(42000, 28, 28, 1)

In [46]:
from keras import backend as K

In [47]:
K.image_data_format()

'channels_last'

In [48]:
input_shape = (28, 28, 1)

In [49]:
cnn_model = Sequential()

cnn_model.add(Conv2D(32, kernel_size=(3, 3),
                 activation='relu',
                 input_shape=input_shape))

cnn_model.add(Conv2D(64, (3, 3), activation='relu'))

cnn_model.add(MaxPooling2D(pool_size=(2, 2)))

cnn_model.add(Dropout(0.25))

cnn_model.add(Flatten())

cnn_model.add(Dense(128, activation='relu'))

cnn_model.add(Dropout(0.5))

cnn_model.add(Dense(num_digits, activation='softmax'))

In [51]:
cnn_model.compile(loss=keras.losses.categorical_crossentropy,
              optimizer=keras.optimizers.Adadelta(),
              metrics=['accuracy'])

In [53]:
epochs = 3

In [61]:
cnn_model.fit(train_features_array, train_label_OHE,
          batch_size=batch_size,
          epochs=epochs,
          verbose=1,
          )

Epoch 1/3
42000/42000 [==============================] - 55s 1ms/step - loss: 0.2749 - acc: 0.9144
Epoch 2/3
42000/42000 [==============================] - 58s 1ms/step - loss: 0.0918 - acc: 0.9724
Epoch 3/3
42000/42000 [==============================] - 65s 2ms/step - loss: 0.0685 - acc: 0.9790